<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p> 11/9 일자 getmapping 비동기 테스트  </p>
    <button onclick="getMapping1()" type="button"> p.57 </button>
    <button onclick="getMapping2()" type="button"> p.58 </button>

    <br>
    <p> 11/10 일자 postmapping 비동기 테스트  </p>
    <button onclick="postMapping1()" type="button"> p.68 </button>
    <button onclick="postMapping2()" type="button"> p.69-1 </button>
    <button onclick="postMapping3()" type="button"> p.69-2 </button>

    <br>
    <p> 11/10 일자 putmapping 비동기 테스트  </p>
    <button onclick="putMapping1()" type="button"> p.70 </button>
    <button onclick="putMapping2()" type="button"> p.71-1 </button>
    <button onclick="putMapping3()" type="button"> p.71-2 </button>


    <br>
    <p> 11/10 일자 deletemapping 비동기 테스트  </p>
    <button onclick="deletemapping1()" type="button"> p.76 </button>
    <button onclick="deletemapping2()" type="button"> p.76 </button>


    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script src="/js/test1.js"> </script>
        <!-- jsp : wabapp 폴더 기본 경로 -->
        <!-- spring : resources -> static 폴더 기본 경로 -->
<body>
</html>